    @font-face {
        font-family: 'SpaceGrotesk';
        src: url('../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format("truetype");
        font-display: swap;
        font-weight: 100 900;
    }
    /* SIMPLE RESET */
    
    *,
    *::before,
    *:after {
        box-sizing: border-box;
    }
    
    * {
        margin: 0;
        font: inherit;
    }
    
    img,
    svg {
        display: block;
        max-width: 100%;
    }
    
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
    }
    /* Naming Convention TAC, https://jordanbrennan.hashnode.dev/tac-a-new-css-methodology */
    /* 
    0. Variables
    1. Global Styles
    2. Tags
    3. Attributes
    4. Classes
    */
    /* Variables */
    
     :root {
        /* Font */
        --fs-regular: 1rem;
        --fs-medium: 1.25rem;
        --fs-large: 2.67rem;
        --fs-xlarge: 4.89rem;
        --fw-bold: 700;
        /* line-height */
        --lh-regular: 1.56;
        --lh-medium: 1.33;
        --lh-large: 1.167;
        --lh-xlarge: 1;
        /* letter-spacing */
        --ls-large: -0.083rem;
        --ls-xlarge: -0.139rem;
        /* color */
        --clr-primary-black: rgb(21, 21, 21);
        --clr-primary-white: rgb(255, 255, 255);
        --clr-highlight-green: rgb(78, 225, 160);
        --clr-secondary-nero: rgb(21, 21, 21);
        --clr-secondary-gray: rgb(217, 217, 217);
        --font-family-default: "SpaceGrotesk";
        --font-family-backup: "Times New Roman";
    }
    /* 1. Global Styles */
    
    html {
        font-family: var(--font-family-default), var(--font-family-backup);
    }
    
    body {
        background-color: var(--clr-primary-black);
        color: var(--clr-primary-white);
        padding: 1.875rem;
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-direction: column;
    }
    
    h1 {
        font-size: var(--fs-large);
        font-weight: var(--fw-bold);
        line-height: var(--lh-xlarge);
    }
    
    h2 {
        font-size: var(--fs-large);
        font-weight: var(--fw-bold);
        line-height: var(--lh-xlarge);
    }
    
    picture {
        /* max-width: 100%; */
        /* width: 100%; */
    }
    /* 2. Tags */
    
    header,
    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        row-gap: 1.5rem;
        max-width: 68.75rem;
        margin-bottom: 1rem;
    }
    
    a {
        color: var(--clr-primary-white);
        padding-bottom: 0.5rem;
        border-bottom: 0.2rem solid var(--clr-highlight-green);
        letter-spacing: 0.1rem;
    }
    
    main {
        max-width: 68.75rem;
    }
    
    dev-logo {
        font-size: var(--fs-medium);
        font-weight: var(--fw-bold);
    }
    
    dev-icons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    
    dev-icons a {
        border: none;
    }
    
    dev-icons svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    dev-intro {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.5rem;
    }
    
    dev-greeting {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        flex: 1 1 21rem;
    }
    
    dev-greeting h1 span {
        border-bottom: 0.3rem solid var(--clr-highlight-green);
    }
    
    dev-greeting p {
        color: var(--clr-secondary-gray)
    }
    
    dev-greeting a {
        color: var(--clr-primary-white);
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid var(--clr-highlight-green);
        letter-spacing: 0.1rem;
    }
    
    dev-greeting a:hover {
        color: var(--clr-highlight-green);
    }
    
    dev-profile {
        position: relative;
        top: -4rem;
        max-width: 10.87rem;
        z-index: -1;
    }
    
    dev-skills {
        display: block;
        border-top: 1px solid var(--clr-primary-white);
        border-bottom: 1px solid var(--clr-primary-white);
        padding: 4rem 0;
    }
    
    dev-skills ul {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    
    dev-skills li {
        flex: 1 1 21rem;
        /* flex: 1; */
        text-align: center;
    }
    
    dev-portfolio div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        padding-top: 3rem;
    }
    
    dev-portfolio a {
        color: var(--clr-primary-white);
        padding: 0.5rem 0;
        border-bottom: 0.1rem solid var(--clr-highlight-green);
        letter-spacing: 0.1rem;
    }
    
    dev-portfolio a:hover {
        color: var(--clr-highlight-green);
    }
    
    dev-projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 21.4rem));
        /* ??? */
        row-gap: 4.5rem;
        column-gap: 1.5rem;
        justify-items: center;
    }
    
    dev-project-name,
    dev-project-tools,
    dev-project-links {
        display: block;
    }
    
    dev-project picture {
        max-width: 21.5rem;
    }
    
    dev-project-name {
        font-size: var(--fs-medium);
        font-weight: var(--fw-bold);
        margin-top: 1.25rem;
    }
    
    dev-project-tools {
        color: var(--clr-secondary-gray);
        margin-top: 0.5rem;
        word-spacing: 0.5rem;
    }
    
    dev-project-links {
        margin-top: 1.25rem;
    }
    
    dev-project-links a {
        margin-right: 1.25rem;
    }
    /* 3. Attributes */
    /* 4. Classes */
    
    .highlight {
        font-size: 2rem;
        font-weight: var(--fw-bold);
    }
    /* 5. Media Queries */
    
    @media only screen and (min-width: 768px) {
        dev-intro {
            justify-content: space-between;
            /* margin-top: 4.5rem; */
        }
        dev-intro h1 {
            font-size: var(--fs-xlarge);
            line-height: var(--lh-xlarge);
        }
        dev-profile {
            right: -2rem;
            max-width: 17.89rem;
        }
        dev-greeting {
            text-align: left;
            align-items: flex-start;
        }
        dev-skills {
            border-bottom: none;
        }
        header,
        footer {
            flex-direction: row;
            justify-content: space-between;
        }
        dev-skills li {
            text-align: left;
        }
    }
    
    @media only screen and (min-width: 1440px) {
        dev-projects {
            row-gap: 3rem;
        }
        dev-profile {
            max-width: 27.81rem;
        }
        dev-project {
            position: relative;
        }
        dev-project picture {
            max-width: 33.75rem;
        }
        dev-project:hover dev-project-links {
            visibility: visible;
        }
        dev-project:hover picture {
            filter: brightness(50%);
        }
        dev-project-links {
            visibility: hidden;
            z-index: 1;
            position: absolute;
            top: 35%;
            left: 25%;
        }
    }